@font-face {
    font-family: "Film Premieres";
    src: url("../fonts/Film Premieres.otf");
}


* {
    box-sizing: border-box;
}

body {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-family: Roboto, sans-serif;
}

header{
    background-color: #374E59;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav {
    padding: 1em;
}
nav > a {
    margin-left: 1em;
    color: white;
    font-weight: bold;
}

h1.main-title {
    font-family: "Film Premieres", sans-serif;
    font-weight: lighter;
    filter: drop-shadow(2px 2px black) drop-shadow(0px 0px yellow);
    color: #D91A2A;
    margin: .5em;
}

a {
    color: #1A97D9;
    text-decoration: none;
}
a:hover {
    color: #36b3f6;
}

main{
    flex-grow: 1;
}

