@font-face {
    font-family: "Film Premieres";
    src: url("../fonts/Film Premieres.otf");
}


* {
    box-sizing: border-box;
}

.hidden{
    display: none !important;
}
.transparent{
    opacity: 0 !important;
}

body {
    min-height: 99vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    align-items: center;
    font-family: Roboto, sans-serif;
}

header{
    background-color: #374E59;
    padding: 0;
    border-radius: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

nav {
    padding: 1em;
}
nav > a {
    margin-left: 1em;
    color: white;
    font-weight: bold;
}

h1.main-title {
    font-family: "Film Premieres", sans-serif;
    font-weight: lighter;
    filter: drop-shadow(2px 2px black) drop-shadow(0px 0px yellow);
    color: #D91A2A;
    margin: .5em;
    pointer-events: none;
    cursor: pointer;
    user-select: none;
}

a {
    color: #1A97D9;
    text-decoration: none;
}
a:hover {
    color: #36b3f6;
}

main{
    flex-grow: 1;
}



/* CUSTOM INPUTS */
.custom-input {
    display: flex;
    min-height: 45px;
    flex-direction: row;
}
.custom-input > *{
    border: 1px solid rgba(58, 50, 43, 0.25);
    padding: 0.5em 0.75em;
}
.custom-input > label {
    min-width: 50px;
    border-radius: .25em 0 0 .25em;
    background-color: lightgray;
    color: #444444;
    font: inherit;
    font-weight: normal;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.custom-input > input {
    flex: 1;
    border-radius: 0 .25em .25em 0;
}



/* CUSTOM DROPDOWN */
ul.movie-list {
    border: 2px black solid;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    max-height: 60vh;
    overflow-y: scroll;
    padding: 0;
    width: 75vw;
}



ul.movie-list::-webkit-scrollbar {
    width: 5px;
    position: fixed;
    display: none;
}

ul.movie-list > li:hover {
    background-color: #36b3f6;
}
ul.movie-list > li:not(:last-child)
{
    border-bottom: 2px black solid;
}
ul.movie-list > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.movie-list-info{
    padding-left: 10px;
}

.movie-list-title{
    font-weight: bold;
    font-size: large;
    margin-bottom: .5em;
}
.movie-list-desc {
    color: gray;
}



.movie-details{
    display: flex;
    --background-url: url("/Resources/img/no_poster.jpg");
    background: center no-repeat linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), var(--background-url);
    background-size: contain;
    aspect-ratio: 780 / 440;
    flex-direction: row;
    border: 8px solid #374E59;
    border-radius: 50px;
    align-items: center;
    margin-top: 1em;
    min-height: 350px;
}

.movie-details > * {
    padding: 2em;
    width: 33%;
}

.movie-title-card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie-title-card span {
    color: white;
    font-weight: bold;
    font-size: large;
    margin-top: 1em;
    text-align: center;
}


.movie-info {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.movie-info-part {
    display: flex;
    flex-direction: row;
}

.movie-info-part span {
    min-height: 50px;
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.movie-info-part :first-child {
    background-color: #374E59;
    border-radius: 10px 0 0 10px;
    color: white;
    width: 40%;
}

.movie-info-part :last-child {
    background-color: #FFFFFF;
    border-radius: 0 10px 10px 0;
    color: black;
    flex-grow: 1;
}

.movie-people-list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
}

.movie-people-list span:first-child {
    background-color: #374E59;
    border-radius: 10px 10px 0 0;
    min-height: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.movie-people-list .movie-people-item {
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: .5em 1em;
}

.movie-people-list .movie-people-item:last-child
{
    border-radius: 0 0 10px 10px;
}

.movie-people-item > span {
    flex-grow: 1;
    text-align: center;
}

.movie-actors{
   height: 100%;
}
ul.movie-people-list-items {
    border-radius: 0 0 1em 1em  ;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    overflow-y: scroll;
    padding: 0;
    margin: 0;
}

ul.movie-people-list-items::-webkit-scrollbar {
    display: none;
}